.box
{
    display: flex;
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
}

.list
{
    width: 20%;
    height: 100%;
}

.browser
{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.browser textarea
{
    width: 100%;
    height: 100%;
}

.tri_selector
{
    width: 20%;
    height: 100%;
}
