.treeView
{
    display: flex;
    
}

.treeNode
{
    user-select: none;
    cursor: pointer;
}

.treeNode .mcontainer
{   
    margin-left: 24px;
}

.list > div > .treeNode > .mcontainer
{   
    margin-left: 0px;
}

.treeNode .summary
{
    cursor: pointer;
    padding: 6px 6px 6px 6px;
}

.treeNode.summary.selected
{
    background-color: orange;
}

.treeNode div.selected
{
    background-color: orange;
}

.breadcrumb
{
    margin-bottom: 0;
}